.div1{
    border: 2px solid red;
    max-width: 300px;
    max-height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

/* .div2{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
} */