.form-wrapper {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 500px;
    gap: 5px;
    padding: 2em;
}

.form-heading h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
}

.form-wrapper label{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-align: start;
}

.form-wrapper input{
    width: 15em;
}