.card-wrapper {
    border: 2px solid red;
    min-height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 2em;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}

.image-logo {
    width: 100%;
    height: 180px;
}

.image-logo img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
}

.card-wrapper .brand {
    font-weight: bolder;
    font-style: initial;
    font-size: 2em;
}

.card-wrapper .description {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #032d53;
    padding: 1em 0.5em;
    text-align: justify;
}

.card-wrapper .price {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}

.card-wrapper .stock{
     font-size: 1em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}