/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.mb-3:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-container {
    border-radius: 1em;
    background-color: blueviolet;
    width: 25em;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.mb-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    font-weight: bold;
}

.login-form>div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");


.login-page {

    /* now build your layout */
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: black !important; */
    background-image: url("/src/assets/bg-img.jpg") !important;
}

.wrapper {
    background: rgba(253, 197, 197, 0.22);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(139, 164, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
}

.from-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.from-wrapper h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0px;
    border-bottom: 2px solid #ffff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #ffff;
    font-size: 14px;
}

.remember label input {
    accent-color: wheat;
}

.from-wrapper button {
    position: relative;
    width: 100%;
    height: 40px;
    background: rgb(10, 214, 228);
    box-shadow: 0 0 10px rgb(10, 214, 228);
    ;
    font-size: 16px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;

}

.signUp-link {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.signUp-link a {
    color: aqua;
}