.wrapper{
    height: 600px;
}

.btns{
    display: flex;
    justify-content: space-evenly;
}

.btns button{
    border-radius: 1em;
}

.wrapper h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}