.a {
    border: 0.5em solid red;
    height: 50px;
    width: 300px;
}

.b {
    border: 0.5em solid rgba(157, 171, 11, 0.496);
    height: 150px;
    width: 300px;
}

.c {
    border: 0.5em solid rgb(255, 0, 225);
    height: 150px;
    width: 300px;
}

.d {
    border: 0.5em solid rgb(60, 255, 0);
    height: 50px;
    width: 300px;
}