/* index.css or App.css */

/* Box sizing reset */

div#root {
    max-width: 100vw;
    padding: unset;
    margin: unset;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin/padding */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

/* Set default font & background */
body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

/* Images and media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Form elements inherit font */
input, button, textarea, select {
  font: inherit;
}

